*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 600px;
      height: 80vh;
    margin: 100px auto;
    background-color: #9fae5e;
    border-radius: 40px;
    border: none;
}
.form{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    height: 70vh;
    justify-content: center;
    align-items: center;
   
}
.input{
    margin: 10px 0;
    padding: 30px 100px;
    border-radius: 20px;
    background-color: rgb(244, 232, 210);
    border: none;
    font-size: larger;
    
}
h1{
    text-align: center;
   padding: 20px;

}
button{
    padding: 5px 20px;
    font-size: larger;
    border-radius: 10px;
    border: none;
    background-color: rgb(244, 232, 210);
    
}
button:hover{
    background-color: #b1d60a;
    cursor: pointer;
}